<div class="dashboard-queries">
    <div class="adminQueriesTitle">
        <h1>Consultas: </h1>
    </div>
    <div class="allqueries">
        <ul>
            {{#each groupedSchedules}}
            <li class="queries">
                <h2>{{formatDate @key}}</h2>
                <ul>
                    {{#each this}}
                    <li class="queriesHours">
                        <div class="hourQuery">
                            <h3>{{hour}} </h3>
                        </div>
                        <div class="userQuery">
                            <h3 class="res">Usuario:</h3>
                            <h3>{{userName}}</h3>
                        </div>
                        <div class="petNameQuery">
                            <h3 class="res">Pet:</h3>
                            <h3>{{petName}}</h3>
                        </div>
                        <div class="toFillIn">
                            <a href="/registerVeterinaryRecord/{{id}}">Preencher Ficha Veterinaria</a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
