<div class="calendar">
  <div class="monthYear">
    <a href="/prev-month"><i class="bi bi-chevron-left icon"></i></a>
    <h1>{{ monthName }} - {{ year }} </h1>
    <a href="/next-month"><i class="bi bi-chevron-right icon"></i></a>
  </div>
  <table class="calendar-table">
    <tr class="daysWeek">
      <th class="lastDay">Dom</th>
      <th class="lastDay">Seg</th>
      <th>Ter</th>
      <th>Qua</th>
      <th>Qui</th>
      <th>Sex</th>
      <th>Sab</th>
    </tr>
    {{#each calendarMatrix}}
      <tr>
        {{#each this}}
          {{#if this}}     
            {{#if (ifThreeConditions (ifAnd (isLess2 this.day ../../currentDay) (lessOrEqual ../../displayedMonth ../../correctMonth)) (isLess2 ../../displayedMonth ../../correctMonth) (ifAnd (verifyWeekend this.day ../../sundayOrMonday) (ifNotEqual this.day ../../currentDay)))}}
              <td class="lastDays">{{this.day}}</td>
            {{else}}
              {{#if (ifAnd (isEqual2 ../../displayedMonth ../../correctMonth) (isEqual2 this.day ../../currentDay))}}
                {{#if (verifyWeekend this.day ../../sundayOrMonday)}}
                  <td class="specialToday">{{this.day}}</td>
                {{else}}
                  <td class="today"><a href="/{{ this.year }}/{{ this.month }}/{{ this.day }}">{{ this.day }}</a></td>
                {{/if}}                
              {{else}}
                <td class="nextDays"><a href="/{{ this.year }}/{{ this.month }}/{{ this.day }}">{{ this.day }}</a></td>
              {{/if}}
            {{/if}}
          {{else}}
            <td class="empty"></td>
          {{/if}}
        {{/each}}
      </tr>
    {{/each}}
  </table>
</div>