<div class="dashboard-direction">

    <div class="identification">
        <h1>Ficha veterinaria:</h1>
        <h1 class="petRecord">{{formatDate convertDate}}</h1>
    </div>
    <div class="vtRecord">
        <div class="row">
            <h2>Nome: </h2>
            <h2 class="res">{{petName}}</h2>
        </div>
        <div class="row">
            <h2>Peso: </h2>
            <h2 class="res">{{weight}}</h2>
        </div>
        <div class="row">
            <h2>Laudo: </h2>
            <h2 class="res">{{report}}</h2>
        </div>
        <div class="row">
            <h2>Receita: </h2>
            <h2 class="res">{{revenue}}</h2>
        </div>
    </div>
</div>