<div class="dashboard-direction">

    <div class="identification">
        <h1><strong>Ficha veterinaria:</strong></h1>
        <h1 class="petRecord">{{formatDate convertDate}}</h1>
    </div>
    <div class="vtRecord">
        <div class="row">
            <h2><strong>Nome:</strong> </h2>
            <h2 class="res">{{petName}}</h2>
        </div>
        <div class="row">
            <h2><strong>Peso:</strong> </h2>
            <h2 class="res">{{weight}}</h2>
        </div>
        <div class="row">
            <h2><strong>Laudo:</strong> </h2>
            <h2 class="res">{{report}}</h2>
        </div>
        <div class="row">
            <h2><strong>Receita:</strong> </h2>
            <h2 class="res">{{revenue}}</h2>
        </div>
    </div>
</div>